@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
:root{
  --header-color: orange;
  --footer-color: llightblue;
  --primary-text-color: green;
  --primary-background-color: black;
  --secondary-text-color: white;
  --primary-font: "Montserrat", san-serif;
}
@media (prefers-color-scheme: dark) {
  :root {
    --primary-background-color: #333333;
    --primary-text-color: white;


  }
}
/* header {
  background-color: var(--header-color);
} */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

main {
  padding: 16;
}

.recipes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 1rem;
}
img:hover {
  transition: all 5s;
  transform: rotate(360deg);
  box-shadow: insert 50px 0 0 0 #68b3d0;
  color: black;
  font-size: 2em;
  background-color: skyblue;
  border: 3px dashed fuchsia;
  width: 300px;
  height: 300px;
}

footer {
  padding: 24px 0px 24px 0px;
}
img {
  height: 200px;
  width: auto;
}
nav {
  color: black;
  border-bottom: 1px;
  padding: 16px;
}
header {
  background-color: orangered;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

h1 {
  color: green;
  /* font-family: var(--title-font); */
  font-size: 2em;
}
h2 {
  margin-bottom: 1rem;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
text-decoration: none;
}
a:active {
  text-decoration: none;
}
footer {
  background-color: greenyellow;
}

.recipe-link {
  color: var
}
/* p {
    background-color: darkkhaki;
    border: 3px solid saddlebrown;
    color: palegreen;
  }

  p {
    display: inline;
  }

  a {
    display: block;
  }
  div {
    width: 350px;
    height: 150px;
    margin: 10px;
    padding: 25px;
    border: 5px solid black;
  } */
  /* div {
    box-sizing: border-box;
  }
  div {
    width: 350px;
    inline-size: 350px;
    height: 150px;
    block-size: 150px;
    margin: 10px;
    padding: 25px;
    border: 5px solid black;
  } */
  /* html {
    box-sizing: border-box;
  }
  * {
    box-sizing: inherit;
  } */
  /* .has-purple-background {
    background-color: purple;
  } */
  /* The element with id="demo" */
/* #demo {
    border: red 2px solid;
  }
   */
